// media query variables
$screen-xs-min: 480px
$screen-sm-min: 768px
$screen-md-min: 992px
$screen-lg-min: 1200px

// color variables
$black: #2a2a2a
$sw_white: #f5f5f5
$cream: #e2e1d2
$dark_blue: #262831
$translucent: rgba(0,0,0,0.3)

// z-index variables
$z_index_sidebar: 1000
$z_index_header: 10
$overlay-z-index: 100
