@import 'normalize.sass'
@import 'variables.sass'

$static: '/static/img'

*, :after, :before
    box-sizing: border-box

body
    color: $black
    background-color: $sw_white

// h3

// p 

// .icon


// Header 
// header
    // button.icon.menu
    // div.search
        // input


// Sidebar
// aside.sidebar
//     background-color: $black
//     &.hidden
//         visibility: hidden
//     &.active
//         visibility: visible

// ul.markers
    // li.marker
        // &.active

// Info bubble
// div.info-bubble
    // &.active
    // &.hidden
    // button.icon.close
    // h3, p
