@import 'normalize.sass'
@import 'mixins.sass'
@import 'variables.sass'

$static: '/static/img'

*, :after, :before
    box-sizing: border-box

html, body 
    height: 100%

body
    color: $black
    background-color: $map_cream
    // width?
    overflow: hidden
    // font-family: 

#app, .container, .content-wrap, .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    overflow: hidden
    .map, .map-tiles-container
        position: absolute
        top: 0
        left: 0
        // width: 100%
        // height: 100%
        // overflow: hidden

h3
    margin: 0.4em 0 0.7em
    font-weight: normal
    line-height: 1.1

p
    font-size: 15px
    margin: 0 0 1em 
    line-height: 1.4

.icon
    display: block
    font-style: normal
    cursor: pointer
    padding: 4px
    &.close
        width: 28px
        height: 28px
        svg
            width: 20px
            height: 20px
    &.clock
        width: 38px
        height: 38px
        svg
            width: 30px
            height: 30px


// Header with menu button + search
header
    position: absolute
    z-index: $z_index_header
    top: 20px
    left: 20px
    width: 100%
    height: 50px
    max-width: 350px
    background-color: white
    border-radius: $border_radius
    box-shadow: $box_shadow
    .search, i.menu.icon
        display: inline-block
    i.menu.icon
        width: 50px
        height: 50px
        padding: 11px
        float: left
        svg
            width: 27px
            height: 27px
    .search
        width: 300px
        // height: 50px
        .awesomplete
            input
                width: 100%
                height: 50px
                border: none
                padding: 8px
                outline: 0
                font-size: 21px
                background-color: transparent
            ul
                // display: block
                margin: 8px 0 0 -50px
                padding: 4px 0
                background-color: white
                box-shadow: $box_shadow
                li 
                    list-style: none
                    margin: 1px 0
                    padding: 7px 4px 7px 10px
                    line-height: 1.2
                    color: $gray
                    cursor: pointer
                    mark
                        color: $gray
                        background: #fff88a

// Sidebar menu
.container
    aside.sidebar
        @include vertical_scroll
        position: absolute
        z-index: $z_index_sidebar
        width: 300px
        height: 100%
        padding: 45px 15px 0
        color: $cream
        background-color: $dark_blue
        transform: translate3d(-320px,0,0)
        transition: transform 0.3s
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)
        .close.icon
            position: absolute
            top: 12px
            right: 12px
        nav
            ul
                height: 100%
                padding: 0
                margin: 0 0 50px
                li 
                    cursor: pointer
                    list-style: none
                    font-size: 16px
                    padding: 12px 4px 12px 12px
                    margin: 4px 0
                    &:hover 
                        background-color: darken($black, 15%)
    &.sidebar-active aside.sidebar
        transform: translate3d(0,0,0)
        transition: transform 0.4s
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)

// Add a dark overlay when sidebar is visible
.container
    .content::before 
        content: ''
        position: fixed
        top: 0
        left: 0
        z-index: $overlay-z-index
        width: 100%
        height: 100%
        background: $translucent
        opacity: 0
        transform: translate3d(100%,0,0)
        transition: opacity 0.4s, transform 0s 0.4s
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)
    &.sidebar-active .content::before
        opacity: 1
        transform: translate3d(0,0,0)
        transition: opacity 0.8s
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)

// Map markers
.map
    ul.markers
        position: absolute
        top: 0
        left: 0
        z-index: $z_index_marker
        width: 100%
        height: 100%
        padding: 0
        margin: 0
        li.marker
            @include hide_text(40px, 40px)
            position: absolute
            z-index: $z-index-marker
            display: block
            list-style: none
            cursor: pointer
            background-color: tomato
            &.active
                background-color: teal

// Info bubble
div.info-bubble
    position: absolute
    bottom: 2em
    right: 2em
    z-index: $z_index_info_bubble
    background-color: white
    width: 100%
    max-width: 300px
    padding: 15px 15px 30px
    border-radius: $border_radius
    box-shadow: $box_shadow
    transform: translate3d(0, 400px, 0)
    transition: transform 0.4s
    .close.icon
        position: absolute
        top: 0.5em
        right: 0.5em
    &.active
        transform: translate3d(0, 0, 0)
        transition: transform 0.4s

// The map
// map tiles left + top set are set inline
.map
    z-index: $z_index_map
    cursor: -webkit-grab
    cursor: -mox-grab
    .map-tiles-container
        img.map-tile
            position: absolute
            width: 256px
            height: 256px
            max-width: none !important
            opacity: 0
            visibility: hidden
            transition: opacity 0.2s linear
            // -webkit-user-drag: none
            // -webkit-user-select: none
            // -moz-user-select: none
            // user-select: none
            &.loaded
                opacity: 1
                visibility: inherit
            
.countdown
    display: none
    position: absolute
    top: 20px
    right: 0
    z-index: $z_index_countdown
    width: 200px
    height: 50px
    padding: 6px
    background-color: $blue
    cursor: pointer !important
    transform: translate3d(150px, 0, 0)
    transition: transform 0.4s
    h3, i
        display: inline-block
    i   
        float: left
        margin-right: 10px
    h3
        color: white
        text-transform: uppercase
        font-weight: 300
        opacity: 0
        margin-top: 10px
        margin-bottom: 0
        transition: opacity 0.6s
    &.active
        transform: translate3d(0, 0, 0)
        transition: transform 0.4s
        h3
            opacity: 1
